* {
    font-size: 20px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
}

td.description,
th.description {
    width: 100px;
    max-width: 100px;
    padding-left: 10px;
}

td.quantity,
th.quantity {
    width: 83px;
    max-width: 83px;
    word-break: break-all;
    padding-left: 10px;
}

td.price,
th.price {
    width: 86px;
    max-width: 86px;
    word-break: break-all;
    padding-left: 10px;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 270px;
    max-width: 270px;
}

img {
    max-width: inherit;
    width: inherit;
}


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
}  

.flex-child:first-child {
    margin-right: 20px;
} 


@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}
